.custom-modal-content{
    max-width: 60%;
    border-radius:25px;
}
.modal-content{
    border-radius:25px !important;
}

.model-video-content{
    background-color: #181818;
}

.moviedetails{
    color: #717171;
}
.green-span-content{
    color:#3DAF59;
}